/*
COLOR PALETTE
#4d5057 Dark Grey
#4e6e5d Dark Green
#4da167 Medium Green
#3bc14a Bright Green
#cfcfcf Light Grey
#bb0a13 Bright Red
 */

/*
FONT IMPORT
 */

@font-face {
    font-family: 'Metrophobic-Regular';
    src: url('../fonts/Metrophobic-Regular.ttf') format('truetype');
}

/*
GENERIC STYLES
 */

* {
    color: #4d5057;
    font-family: 'Metrophobic-Regular', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3bc14a;
}

label,
input,
textarea,
button {
    font-size: 1rem;
}

button,
input[type=button],
input[type=submit] {
    background-color: #4e6e5d;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.5em 0.7em;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
    background-color: #4da167;
}

button:focus,
input[type=button]:focus,
input[type=submit]:focus {
    outline: none;
}

button:active,
input[type=button]:active,
input[type=submit]:active {
    background-color: #4d5057;
}

input[type=text],
input[type=email],
input[type=password],
input[type=file],
textarea {
    padding: 0.3em;
    border-radius: 2px;
    outline: none;
    border: 1px solid #cfcfcf;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=file],
textarea:focus {
    border: 1px solid #3bc14a;
}

input:invalid,
input:out-of-range {
    border: 1px solid #bb0a13 !important;
}

input::-ms-input-placeholder,
input::placeholder {
    color: #cfcfcf;
}

input[type=submit] {
    margin-top: 1em;
}

fieldset {
    margin-top: 1em;
}

label {
    display: inline-block;
    margin-top: 0.5em;
}

textarea {
    resize: none;
}

input:disabled {
    background-color: #cfcfcf;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #4d5057;

}

th {
    text-align: left;
}

td,
th {
    padding: 0.2em 0.5em;
}

thead > tr {
    background-color: #4e6e5d;
}

tbody > tr {
    cursor: pointer;
}

thead th {
    color: white;
}

tbody > tr:nth-child(even) {
    background-color: #cfcfcf;
}

/*
CLASSES
 */

a.button {
    background-color: #4e6e5d;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0.5em 0.7em;
    margin-top: 1em;
    display: inline-block;
}

.button:hover {
    background-color: #4da167;
}

.button:focus {
    outline: none;
}

.button:active {
    background-color: #4d5057;
}

.centered-form {
    width: 70%;
    margin: 0 auto;
}

.centered-form form label,
.centered-form form textarea,
.centered-form form input:not([type=checkbox]),
.centered-form select {
    width: 100%;
}

.error-message {
    padding: 0.75em;
    color: white;
    background-color: #bb0a13;
}

.closed {
    color: #bb0a13;
}

.open {
    color: #4da167;
}

.tickets > tbody > tr.open:hover {
    background-color: #4da167;
}

.tickets > tbody > tr.closed:hover {
    background-color: #bb0a13;
}

.tickets > tbody > tr:hover * {
    color: white;
}

/*
HEADER STYLES
 */

#main-header {
    background-color: #4e6e5d;
    width: 100%;
}

#main-header .title {
    text-align: center;
}

#main-header .title a {
    text-decoration: none;
    color: #cfcfcf;
    text-shadow: 2px 2px 0 #4d5057;
}

#main-header .title a:hover {
    color: white;
}

/*
NAVIGATION STYLES
 */

#main-nav {
    padding: 0 10px;
    background-color: #4da167;
    width: 100%;
}

#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    cursor: pointer;
}

#main-nav li a,
#main-nav span {
    display: block;
    padding: 0.5em;
}

#main-nav .active {
    background-color: #3bc14a;
}

#main-nav .navigation {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}

#main-nav .navigation,
#main-nav .navigation ul {
    display: flex;
    list-style: none;
}

#main-nav .navigation ul {
    display: none;
    background-color: #4e6e5d;
}

#main-nav .navigation li:last-child:not(:nth-child(2)) {
    margin-left: auto;
}

#main-nav .navigation li:hover ul {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
}

#main-nav .navigation li:hover {
    background-color: #4d5057;
}

#main-nav * {
    color: white;
    text-decoration: none;
}

/*
CONTENT STYLES
 */
#main-content {
    flex-grow: 1;
    max-width: 800px;
    padding: 10px;
    width: 100%;
}

/*
FOOTER STYLES
 */

#main-footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4e6e5d;
    text-shadow: 2px 2px 0 #4d5057;
    width: 100%;
}

#main-footer small {
    color: #cfcfcf;
}

/*
RESPONSIVE STYLES
 */

